#prueba de conocimientos

##tipo de datos
1. numerico
- entero: int
- decimal: float
2. alfanumerico o cadena de caracteres.
(string-str)
3. logico: Boolean - bool
4. lista: list []
5. diccionario: dict {}

para saber que tipo de ddatos estamos manipulando se usa la funcion type()

In [ ]:
5+3*4

17

In [ ]:
type(5+3*4)

int

In [ ]:
print (f"5+3*4={5+3*4} y da como resultado un valor de tipo{type(5+3*4)}")

5+3*4=17 y da como resultado un valor de tipo<class 'int'>

In [ ]:
#cuando se usa + en string, sucede la concatenacion
"5"+"3"*2

'533'

In [ ]:
#= es asignacion. == comparacion
2 ** 11 == 1000

##Operaciones logicas
1. Disyuncion (o): una proposicion es verdadera, si al menos una de ella lo es. En phyton se puede anunciar con la palabra "or" o con **||**
ejemplo: V OR V DA V. V OR F DA V. F OR V DA V F OR F DA F

2. Conjuncion (y): Una preposicion es verdadera, si Y SOLO SI, ambas preposiciones son verdaderas. En phyton, se utiliza la palabra **and** o **gg** para su uso. Ejemplo F and F da F; F and V da F; V and F da F; V and V da V

3. Negacion (no) niega el valor de la verdad de una preposicion. Si el valor de verdad es true, se vuelve false. En phyton se usa la palabra **not** o ~ para denotarla.

In [ ]:
a=2 ** 11 == 1000 or 2 ** 9 == 100

In [ ]:
print(f"el valor de la expresion a=2 ** 11 == 1000 or 2 ** 9 == 100 es {a}")

el valor de la expresion a=2 ** 11 == 1000 or 2 ** 9 == 100 es False

In [ ]:
#Colocar un tipo de dato antes del dato, se usa para transformar el dato dentro del parentesis en el dato por fuera del parentesis
int("cincuenta")

ValueError: invalid literal for int() with base 10: 'cincuenta'

In [ ]:
int("50")

50

In [ ]:
str("50")

'50'

In [ ]:
# siempre que haya una division el resultado dara decimal
16/16 + 384/24

17.0

In [ ]:
type (16/16 + 384/24)

float

In [ ]:
# % es el modulo de la operacion
600 + 18%2

600

In [ ]:
0 < (4096 % 10) < 6

False

In [ ]:
d = 'max' + 'min'

In [ ]:
print(f"La operacion 'max' + 'min' da {d} y es de tipo {type(d)}")

La operacion 'max' + 'min' da maxmin y es de tipo <class 'str'>

In [ ]:
# ABC es una funcion no definida
ABC() * DEF()

In [ ]:
float(-int("7")+int('90))

abs(len('seis) - len('tres'))
1. abs = valor absoluto

2. len = cuenta la cantidad de letras de un string

- len('seis')=4
- len('tres')=4

In [ ]:
#Todos los numeros a exepcion de 0, da true al convertirlos en booleanos
bool(1210) or bool(-3465)

In [ ]:
int('8' * 3)

888

In [ ]:
int('8' * 3) / 3

296.0

In [ ]:
#Todos los string son listas, por ende, podemos conocer la posicion de cada uno de sus elementos en phyton se empieza contando desde 0
str(296.0)

'296.0'

In [ ]:
float(srt(int('8' * 3)/ 3 [3])